<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Login Page in HTML with CSS Code Example</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">


<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"><link rel="stylesheet">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="box-form">
	<div class="left">
		<div class="overlay">
		<h1>Hello World.</h1>

		<span>
			<!-- <p>login with frsocial media</p> -->
			<!-- <a href="#"><i class=":😨" aria-hidden="true"></i></a> -->
			<a href="https://www.google.com/" target="_blank" ><i class="fa fa-google" aria-hidden="true"></i> Login with Google</a>
		</span>
		</div>
	</div>


		<div class="right">
		<h5>Login</h5>
		<p>Don't have an account? <a href="#" routerLink="/signup">Creat Your Account</a> it takes less than a minute</p>
		<form action="" [formGroup]="regForm">
      <div class="inputs">
        <input type="text" placeholder="user name" formControlName="login_uname">
        <div class="e" *ngIf="regForm.get('login_uname')?.touched&&regForm.get('login_uname')?.hasError('required')">Username is required</div>
        <div class="e" *ngIf="regForm.get('login_uname')?.touched&&regForm.get('login_uname')?.hasError('minlength')">Username is minimum 8 Characters</div>
        <br>
        <input type="password" placeholder="password" formControlName="login_pwd">
        <div class="e" *ngIf="regForm.get('login_pwd')?.touched&&regForm.get('login_pwd')?.hasError('required')">Password is Required</div>
        <div class="e" *ngIf="regForm.get('login_pwd')?.touched&&regForm.get('login_pwd')?.hasError('minlength')">Password is minimum 8 Characters</div>
      </div>
    </form>

			<br><br>

		<div class="remember-me--forget-password">
				<!-- Angular -->
	<!-- <label>
		<input type="checkbox" name="item" checked/>
		<span class="text-checkbox">Remember me</span>
	</label> -->
			<p>forget password?</p>
		</div>

			<br>
			<button (click)="show()">Login</button>
	</div>

</div>
<!-- partial -->

</body>
</html>

