.form{
    display: flex;
    width: 50%;
    /* text-align: center; */
    justify-content: center;
    flex-direction: column;
    margin-left: 25%;
    background-color: azure;
}
.form input{
    padding-bottom: 10px;
    background-color: aqua;
}
.form textarea{
    background-color: aqua;
}
button{
    justify-content: center;
    display: flex;
    margin-left: 40%;
}

 img:hover{
  transition: 0.3s ease-in-out ;
  transform: scale(1.1);
}

.container {
  text-align: center;
}
.table table-responsive{
  justify-content: center;
  text-align: center;
}
