.products{
  background-color: cadetblue;
}

.form{
    display: flex;
    width: 40%;
    /* text-align: center; */
    justify-content: center;
    flex-direction: column;
    /* margin-left: 5%; */
    color: white;

}
.form input{
    padding-bottom: 10px;
    /* background-color: aqua; */
}

button{
    justify-content: center;
    /* display: flex; */

  }

 img:hover{
  transition: 0.3s ease-in-out ;
  transform: scale(1.1);
}

.container {
  text-align: center;
}
.table table-responsive{
  justify-content: center;
  text-align: center;
}
.addurl{
  margin-top: 10px;
  flex-direction: row;
}
.addproduct{
  margin-top: 20px;
  justify-content: center;
  text-align: center;
}
.addtoproduct{
  justify-content: center;
  text-align: center;
  margin-left: 7%;
  margin-top: 10px;
}
.seller{
  display: flex;
  justify-content: center;
  border: 2px solid black;
}
.popup{
  display: flex;
  justify-content: center;
  padding: 20px 20px;
}
