<form action="" [formGroup]="testform"><br>
  <div class="form">
  Product Name:-<input type="text" placeholder="enter the Product name" formControlName="title" name="Pro_name" ><br>
  Product quantity:-<input type="number" placeholder="enter the Product price" formControlName="quantity" name="Pro_price" ><br>
  Product price:-<input type="number" placeholder="enter the color" formControlName="price" name="Pro_color" ><br>
  Product category:-<input type="text" placeholder="enter the category" formControlName="category" name="Pro_category" ><br>

  Product description:-<textarea input type="text" placeholder="enter the description" formControlName="description" name="Pro_description"></textarea><br>
  Product Image:-<input type="text" placeholder="enter the Product Url" formControlName="image" name="Pro_Image" ><br>
</div>
<button (click)="addproduct(testform)">Add to product</button>

</form>



<ng-container *ngIf="myLsData.length != 0">
  <div class="container ">
    <div class="card-table">
      <div class="cart-product">
        <table class="table table-responsive">
          <thead>
            <tr>
              <th>Sl.No</th>
              <th>Product Name</th>
              <th>Image</th>
              <th>Description</th>
              <th>Quantity</th>
              <th>price</th>
              <th>Total</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let pro of myLsData; let i =index">
              <td>{{i+1}}</td>
              <td>{{pro.title}}</td>
              <td><img style="width: 120px;" src="{{pro.image}}" alt=""></td>
              <td style="width: 25%;" >{{pro.description}}</td>
              <!-- <td><button (click)="Increase(item,i)"><i class="fa-solid fa-plus"></i></button> -->
                {{pro.quantity}}
                <!-- <button (click)="Decrease(item,i)"><i class="fa-solid fa-minus"></i></button></td> -->
              <td style="width: 12%;">{{[pro.price]}}</td>
              <td style="width: 12%;">{{[pro.quantity*pro.price]}}</td>
              <td>
                <button class="btn btn-danger" (click)="removeitem(i)">DEL</button></td><br>
                <td><button class="btn btn-success" (click)="addtocart(pro,i)">Cart</button></td>


            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <i class="fas fa-barcode"></i>

  </div>
</ng-container>

