<form action="" [formGroup]="testform"><br>
  <div class="form">
  Product Name:-<input type="text" placeholder="enter the Product name" formControlName="pName" name="Pro_name" ><br>
  Product price:-<input type="text" placeholder="enter the Product price" formControlName="pPrice" name="Pro_price" ><br>
  Product color:-<input type="text" placeholder="enter the color" formControlName="pColor" name="Pro_color" ><br>
  Product category:-<input type="text" placeholder="enter the category" formControlName="pCategory" name="Pro_category" ><br>

  Product description:-<textarea input type="text" placeholder="enter the description" formControlName="pDescription" name="Pro_description"></textarea><br>
  Product Image:-<input type="text" placeholder="enter the Product Url" formControlName="pImage" name="Pro_Image" ><br>
</div>
<button (click)="submit(testform)">Add to product</button>

</form>




<div class="container">
    <div *ngFor="let pro of myLsData; let i=index">
      Product:<b>{{pro.pName}}</b>  <br>
      <p>Price: <b> {{pro.pPrice}} </b> </p>
      <p>Category:  <b> {{pro.pCategory}}  </b> </p>
      <p>Description:<b> {{pro.pDescription}} </b> </p>
      Image:<img src={{pro.pImage}} alt="">
    </div>
</div>
<!-- 
<div>
  <div *ngFor="let item of myLsData",let i="index">
    item:{{item.pName}}
    {{item.pPrice}} 
    {{item.pColor}}
    {{item.pCategory}}
    {{item.pDescription}}
    <img src={{item.pImage}} alt="">

  </div>
</div> -->
