<div class="navbar">
  <div class="search">
    <img src="../assets/1.jpg" width="50px" alt="">
    <input type="text" placeholder="Search">
  </div>
  <div class="components">
    <a routerLink="/home" routerLinkActive="routerActive" >Home</a>
    <a routerLink="/products" routerLinkActive="routerActive">Products</a>
    <a routerLink="/cart" routerLinkActive="routerActive">Cart</a>
    <a routerLink="/login" routerLinkActive="routerActive">Login</a>
    <a routerLink="/signup" routerLinkActive="routerActive">SignUp</a>
    <a routerLink="/logout" routerLinkActive="routerActive">LogOut</a>
  </div>
</div>
<router-outlet></router-outlet>

