.items{
  display: flex;
  gap: 20px;
  text-align: center;
  padding-top: 10px;
  padding-left: 10px;
}


.product img{
  width: 200px;
  height: 200px;
  margin-bottom: 15px;
  /* gap: 5px; */
  transition: 0.3s ease-in-out ;
  border-color: black ;
}
.product{
  padding: 15px;
  margin: 40px;
}

.product img:hover{
  transition: 0.3s ease-in-out ;
  transform: scale(1.1);
}

.prod{
  background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
}
.images{
  margin-left: 22px;
}
