<section class="component">
  <div class="total" style="width: 40%;height: 100px; margin: -20px;">
    <h3>TOTAL</h3>
    <p>{{totalprice |currency}} </p>

  </div>
  <div class="credit-card">
    <h2>Credit / Debit Card</h2>
    <form>
      <input type="text" placeholder="NAME" />
      <div class="line"><input type="text" placeholder="CARD" /> <input type="text" placeholder="NUMBER" /> <input type="text" /> <input type="text" /></div>
      <div class="line">
        <input class="litle" type="text" placeholder="EXPIRY" />
        <input class="tall" type="text" placeholder="CCV" />
        </div>
        <input type="text" placeholder="@UPI Payment  /phonePeh/GooglePeh" />
      <button type="submit" class="valid-button">PROCEED TO CHECKOUT</button>
    </form>
  </div>
</section>

